@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Raleway:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* Style global */
body {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    display: flex;
    height: 100vh;
    background-color: #222222;
    color: #ffffff;
    overflow: hidden;
}

/* Menu principal */
.menu-main {
    width: 10%;
    background-color: #333;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    height: 100%;
    box-sizing: border-box;
    padding: 20px 0;
}

.menu-main .logo {
    margin-bottom: auto;
}

.menu-main .logo img {
    width: 80px;
    margin-bottom: 2rem;
}

.menu-main ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-main ul li {
    margin: 15px 0;
}

.menu-main ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.1rem;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-main ul li a.active{
    font-weight: 800;
    background-color: #555;
}

.menu-main ul li a:hover {
    background-color: #555;
    color: #f2e291;
}

/* Menu interne */
.menu-internal {
    width: 15%;
    background-color: #444;
    color: white;
    position: fixed;
    left: 10%;
    height: 100%;
    box-sizing: border-box;
    padding-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-internal ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menu-internal ul li {
    margin: 15px 0;
}

.menu-internal ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
    padding: 10px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menu-internal ul li a:active {
    background-color: #666;
}

.menu-internal ul li a:hover {
    background-color: #666;
    color: #f2e291;
}

/* Contenu principal */
.content {
    margin-left: 25%;
    width: 75%;
    padding: 10%;
    box-sizing: border-box;
    overflow-y:auto;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.content h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    margin-bottom: 1rem;
}

.content h2{
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 600;
    font-size: 15px;
}

.content p {
    line-height: 1.6;
    margin-bottom: 1rem;
}

.section {
    margin-bottom: 3rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #444;
}

#section1 {
    margin-top: 15%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .menu-main {
        width: 30%;
        height: auto;
        position: relative;
    }

    .menu-main .logo img {
        margin: 0 auto 1rem;
    }

    .menu-internal {
        display: none;
    }

    .content {
        margin-left: 0;
        width: 100%;
    }
}
